In [233]:
import pandas as pd
import numpy as np

In [234]:
section_tag = '10D'

In [235]:
metadatafile = pd.read_csv('I:/'+section_tag+'_cut/metadatafile.csv');

In [236]:
metadatafile

    tile         x         y
0      0  0.067024  0.025448
1      1  0.067616  0.025448
2      2  0.068207  0.025448
3      3  0.068798  0.025448
4      4  0.069390  0.025448
5      5  0.069981  0.025448
6      6  0.070572  0.026040
7      7  0.069981  0.026040
8      8  0.069390  0.026040
9      9  0.068798  0.026040
10    10  0.068207  0.026040
11    11  0.067616  0.026040
12    12  0.067024  0.026040
13    13  0.067616  0.026631
14    14  0.068207  0.026631
15    15  0.068798  0.026631
16    16  0.069390  0.026631
17    17  0.069981  0.026631
18    18  0.070572  0.026631
19    19  0.070572  0.027222
20    20  0.069981  0.027222
21    21  0.069390  0.027222
22    22  0.068798  0.027222
23    23  0.068207  0.027222
24    24  0.067616  0.027222
25    25  0.067616  0.027813
26    26  0.068207  0.027813
27    27  0.068798  0.027813
28    28  0.069390  0.027813
29    29  0.069981  0.027813
30    30  0.070572  0.027813
31    31  0.069981  0.028405
32    32  0.069390  0.028405
33    33  0.068798  0.028405
34    34  0.068207  0.028405
35    35  0.067616  0.028405

In [237]:
np.min(metadatafile. x)

0.06702428740000001

In [238]:
metadatafile['x_pixels'] =((metadatafile.x-np.min(metadatafile.x))/.000000321) + 1
metadatafile['y_pixels'] =((metadatafile.y-np.min(metadatafile.y))/.000000321) + 1

In [239]:
coords = metadatafile.drop(columns=['tile', 'x', 'y'])

In [242]:
coords

        x_pixels     y_pixels
0       1.000000     1.000000
1    1843.072274     1.000000
2    3685.144548     1.000000
3    5527.216822     1.000000
4    7369.289097     1.000000
5    9211.361371     1.000000
6   11053.433645  1843.072274
7    9211.361371  1843.072274
8    7369.289097  1843.072274
9    5527.216822  1843.072274
10   3685.144548  1843.072274
11   1843.072274  1843.072274
12      1.000000  1843.072274
13   1843.072274  3685.144548
14   3685.144548  3685.144548
15   5527.216822  3685.144548
16   7369.289097  3685.144548
17   9211.361371  3685.144548
18  11053.433645  3685.144548
19  11053.433645  5527.216822
20   9211.361371  5527.216822
21   7369.289097  5527.216822
22   5527.216822  5527.216822
23   3685.144548  5527.216822
24   1843.072274  5527.216822
25   1843.072274  7369.289097
26   3685.144548  7369.289097
27   5527.216822  7369.289097
28   7369.289097  7369.289097
29   9211.361371  7369.289097
30  11053.433645  7369.289097
31   9211.361371  9211.361371
32   7369.289097  9211.361371
33   5527.216822  9211.361371
34   3685.144548  9211.361371
35   1843.072274  9211.361371

In [241]:
coords.to_csv('I:/'+section_tag+'_cut/preprocessing/2DTiles/tile_coordinates_Base_1.csv', header=False, index = False)
coords.to_csv('I:/'+section_tag+'_cut/preprocessing/2DTiles/tile_coordinates_Base_2.csv', header=False, index = False)
coords.to_csv('I:/'+section_tag+'_cut/preprocessing/2DTiles/tile_coordinates_Base_3.csv', header=False, index = False)
coords.to_csv('I:/'+section_tag+'_cut/preprocessing/2DTiles/tile_coordinates_Base_4.csv', header=False, index = False)
coords.to_csv('I:/'+section_tag+'_cut/preprocessing/2DTiles/tile_coordinates_Base_5.csv', header=False, index = False)