# evaluate genes and spots per cell

In [11]:
import pandas as pd
import numpy as np

## hca09

In [62]:
cellxgene_mouse = pd.read_csv('/Users/Christoffer/Downloads/HCA09_2_cellxgene.csv')
cellxgene_mouse = cellxgene_mouse.set_index('CellID')
cellxgene_mouse = cellxgene_mouse.drop(['centroidX', 'centroidY'], axis=1)
cellxgene_human = pd.read_csv('/Users/Christoffer/Downloads/HCA09_1_cellxgene.csv')
cellxgene_human = cellxgene_human.set_index('CellID')
cellxgene_human = cellxgene_human.drop(['centroidX', 'centroidY'], axis=1)

In [63]:
cellxgene_mouse

,3110035E14Rik,Adarb2,Adcy2,Alcam,Arpp19,Atp1a3,Bdnf,Brinp3,Cacna2d3,Calb1,...,Sv2b,Synpr,Syt1,Syt6,Tac2,Tesc,Th,Thsd7a,Tmsb10,Zmat4
CellID,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89689,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89690,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89691,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89694,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [64]:
cellxgene_human

,ADARB2,ALCAM,ANKRD34B,ANXA1,ARPP21,CACNA2D1,CADM2,CADPS,CALB1,CALM2,...,SULF1,SYNPR,SYT1,TH,THSD7A,TMEFF2,TMEM255A,TRHDE,VIP,ZMAT4
CellID,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23762,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,1,0,0,0,0
23763,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23764,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23766,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### genes per cell

In [71]:
genepercell_mouse = (cellxgene_mouse > 0).astype(int).sum(axis=1)
print('The number of genes per cell in HCA09_mouse is: ' + str(genepercell_mouse.mean()))

The number of genes per cell in HCA09_mouse is: 16.25387449417165

In [74]:
genepercell_human= (cellxgene_human > 0).astype(int).sum(axis=1)
print('The number of genes per cell in HCA09_human is: ' + str(genepercell_human.mean()))

The number of genes per cell in HCA09_human is: 17.148763282435933

### spots per cell

In [67]:
cellxgene_mouse["sum"] = cellxgene_mouse.sum(axis=1)
cellxgene_human["sum"] = cellxgene_human.sum(axis=1)

In [68]:
cellxgene_human

,ADARB2,ALCAM,ANKRD34B,ANXA1,ARPP21,CACNA2D1,CADM2,CADPS,CALB1,CALM2,...,SYNPR,SYT1,TH,THSD7A,TMEFF2,TMEM255A,TRHDE,VIP,ZMAT4,sum
CellID,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23762,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,51
23763,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,42
23764,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
23765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
23766,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [80]:
print('The number of spots per cell in HCA09_mouse is: ' + str(cellxgene_mouse['sum'].mean()))

The number of spots per cell in HCA09_mouse is: 30.324430754363714

In [79]:
print('The number of spots per cell in HCA09_human is: ' + str(cellxgene_human['sum'].mean()))

The number of spots per cell in HCA09_human is: 38.639566032681486