# convert taglist to codebook

In [29]:
import pandas as pd

In [30]:
taglist = pd.read_csv('I:/10D/preprocessing/embryoTaglist.csv')

In [31]:
taglist

    barcode    Gene
0     TTCAA    Mafb
1     TGAAA  Phox2b
2     AAACA    Bmp4
3     GGCAA    Bmp6
4     ACGCT    Bmp7
..      ...     ...
114   TCCAG    Six6
115   TAACT     Sp8
116   AGGCA    Tal2
117   GCAAG  Tfap2c
118   GCTTG    Tox2

[119 rows x 2 columns]

In [32]:
new_barcode_list = []
for i, letters in enumerate(taglist['barcode']):
    #if i == 0:
    print('old: '+letters)
    current = letters
    list_current = list(current)
    new_barcode = ''
    for i, letter in enumerate(list_current):
        #print(i)
        #print(letter)
        if i == 0 and list_current[i] == 'T':
            letter_0 = (list_current[i].replace('T','4'))
        elif i == 0 and list_current[i] == 'C':
            letter_0 = (list_current[i].replace('C','2'))
        elif i == 0 and list_current[i] == 'A':
            letter_0 = (list_current[i].replace('A','1'))
        elif i == 0 and list_current[i] == 'G':
            letter_0 = (list_current[i].replace('G','3'))

        if i == 1 and list_current[i] == 'T':
            letter_1 = (list_current[i].replace('T','4'))
        elif i == 1 and list_current[i] == 'C':
            letter_1 = (list_current[i].replace('C','2'))
        elif i == 1 and list_current[i] == 'A':
            letter_1 = (list_current[i].replace('A','1'))
        elif i == 1 and list_current[i] == 'G':
            letter_1 = (list_current[i].replace('G','3'))

        if i == 2 and list_current[i] == 'T':
            letter_2 = (list_current[i].replace('T','4'))
        elif i == 2 and list_current[i] == 'C':
            letter_2 = (list_current[i].replace('C','2'))
        elif i == 2 and list_current[i] == 'A':
            letter_2 = (list_current[i].replace('A','1'))
        elif i == 2 and list_current[i] == 'G':
            letter_2 = (list_current[i].replace('G','3'))


        if i == 3 and list_current[i] == 'T':
            letter_3 = (list_current[i].replace('T','4'))
        elif i == 3 and list_current[i] == 'C':
            letter_3 = (list_current[i].replace('C','2'))
        elif i == 3 and list_current[i] == 'A':
            letter_3 = (list_current[i].replace('A','1'))
        elif i == 3 and list_current[i] == 'G':
            letter_3 = (list_current[i].replace('G','3'))

        if i == 4 and list_current[i] == 'T':
            letter_4 = (list_current[i].replace('T','4'))
        elif i == 4 and list_current[i] == 'C':
            letter_4 = (list_current[i].replace('C','2'))
        elif i == 4 and list_current[i] == 'A':
            letter_4 = (list_current[i].replace('A','1'))
        elif i == 4 and list_current[i] == 'G':
            letter_4 = (list_current[i].replace('G','3'))
    newBarcode = letter_0 + letter_1 + letter_2 + letter_3 + letter_4    
    print('new: '+ newBarcode)
    list(new_barcode)
    new_barcode_list.append(newBarcode)
            #if letter == 'T':
            #    print(letter.replace('T','C'))
            #elif letter == 'C':
            #    print(letter.replace('C','A'))
            #elif letter == 'A':
            #    print(letter.replace('A','T'))
               
        #test = current.replace('T','C')
        #test1 = test.replace('C','A')
        #test2 = test1.replace('A','T')

old: TTCAA
new: 44211
old: TGAAA
new: 43111
old: AAACA
new: 11121
old: GGCAA
new: 33211
old: ACGCT
new: 12324
old: CGGTT
new: 23344
old: AATAG
new: 11413
old: GTCCA
new: 34221
old: GTAAA
new: 34111
old: GCACT
new: 32124
old: GCGGG
new: 32333
old: AGTGG
new: 13433
old: ATACT
new: 14124
old: GCCAT
new: 32214
old: AGTAA
new: 13411
old: CTGCA
new: 24321
old: AATGA
new: 11431
old: GGCTT
new: 33244
old: CGAAG
new: 23113
old: CCGAT
new: 22314
old: ACCGT
new: 12234
old: TAGAA
new: 41311
old: AAAAC
new: 11112
old: GTGCT
new: 34324
old: AGCCT
new: 13224
old: CATCG
new: 21423
old: GGGGC
new: 33332
old: TACAT
new: 41214
old: GACCT
new: 31224
old: CCGCG
new: 22323
old: AGCGA
new: 13231
old: GGGTA
new: 33341
old: TCGCA
new: 42321
old: AGACG
new: 13123
old: GATGG
new: 31433
old: TGTCG
new: 43423
old: CGACT
new: 23124
old: CTAAT
new: 24114
old: TCAAT
new: 42114
old: ACTCG
new: 12423
old: CACGT
new: 21234
old: TGCCA
new: 43221
old: AAGTA
new: 11341
old: TCTCT
new: 42424
old: CTTGG
new: 24433
old: CCGTA
new: 22341
old: CAAAA
new: 21111
old: GCTCA
new: 32421
old: CGCAT
new: 23214
old: GCTGT
new: 32434
old: AACTT
new: 11244
old: CGTTG
new: 23443
old: CTCTT
new: 24244
old: CCTGA
new: 22431
old: TTGCG
new: 44323
old: TTTGT
new: 44434
old: ACTTA
new: 12441
old: TCACG
new: 42123
old: GGCGG
new: 33233
old: GTGGA
new: 34331
old: GGATG
new: 33143
old: CTGTG
new: 24343
old: ACCCA
new: 12221
old: ATGAA
new: 14311
old: GACAG
new: 31213
old: TAAAG
new: 41113
old: TCTAA
new: 42411
old: TGAGG
new: 43133
old: GAGTG
new: 31343
old: GTTCG
new: 34423
old: TCCTT
new: 42244
old: CCATG
new: 22143
old: GCCTA
new: 32241
old: TGTTT
new: 43444
old: GGACA
new: 33121
old: CATTA
new: 21441
old: CTACG
new: 24123
old: ACGGA
new: 12331
old: TGCTG
new: 43243
old: CAGCT
new: 21324
old: ATAAG
new: 14113
old: CAGGA
new: 21331
old: CCCCT
new: 22224
old: AAATG
new: 11143
old: GAAGC
new: 31132
old: CTTAA
new: 24411
old: ATAGA
new: 14131
old: CCTTT
new: 22444
old: TACCG
new: 41223
old: TTGTT
new: 44344
old: CGAGA
new: 23131
old: GAGCA
new: 31321
old: AACAA
new: 11211
old: TCTGG
new: 42433
old: ACGAG
new: 12313
old: ATCCG
new: 14223
old: AGAGC
new: 13132
old: TCCGA
new: 42231
old: ACAGG
new: 12133
old: CAGAG
new: 21313
old: GAATA
new: 31141
old: AGGAC
new: 13312
old: CTATA
new: 24141
old: AAGGC
new: 11332
old: ATCTA
new: 14241
old: TGGAG
new: 43313
old: ATCAT
new: 14214
old: GTTTT
new: 34444
old: GTCTG
new: 34243
old: CGGAA
new: 23311
old: CGTCA
new: 23421
old: TGGGA
new: 43331
old: ATGGG
new: 14333
old: CAAGG
new: 21133
old: TCCAG
new: 42213
old: TAACT
new: 41124
old: AGGCA
new: 13321
old: GCAAG
new: 32113
old: GCTTG
new: 32443

In [33]:
taglist.insert(2, 'codebook', new_barcode_list)

In [34]:
taglist

    barcode    Gene codebook
0     TTCAA    Mafb    44211
1     TGAAA  Phox2b    43111
2     AAACA    Bmp4    11121
3     GGCAA    Bmp6    33211
4     ACGCT    Bmp7    12324
..      ...     ...      ...
114   TCCAG    Six6    42213
115   TAACT     Sp8    41124
116   AGGCA    Tal2    13321
117   GCAAG  Tfap2c    32113
118   GCTTG    Tox2    32443

[119 rows x 3 columns]

In [14]:
taglist = taglist['letters_new'].str.split(expand=True).add_prefix('position_')

In [61]:
#column_names = ["gene", "pos1", "pos2","pos3","pos4","pos5"]
codebook = pd.DataFrame()
for i,barcode in enumerate(taglist.codebook):
    list_with_gene = [taglist.Gene[i]]
    list_barcode = [int(d) for d in str(barcode)]
    list_with_gene.extend(list_barcode)
    codebook_intermediate = pd.DataFrame([list_with_gene])
    codebook = codebook.append(codebook_intermediate)

In [62]:
codebook

         0  1  2  3  4  5
0     Mafb  4  4  2  1  1
0   Phox2b  4  3  1  1  1
0     Bmp4  1  1  1  2  1
0     Bmp6  3  3  2  1  1
0     Bmp7  1  2  3  2  4
..     ... .. .. .. .. ..
0     Six6  4  2  2  1  3
0      Sp8  4  1  1  2  4
0     Tal2  1  3  3  2  1
0   Tfap2c  3  2  1  1  3
0     Tox2  3  2  4  4  3

[119 rows x 6 columns]

In [63]:
codebook.to_csv('I:/10D/preprocessing/codebook.csv', header=False, index = False)